body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 14px;
  line-height: 20px;
  background-color: #ffffff;
}
p {
  margin: 0 0 10px;
}
p small {
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
}
h1 {
  font-size: 30px;
  line-height: 40px;
}
h1 small {
  font-size: 18px;
}
h2 {
  font-size: 24px;
  line-height: 40px;
}
h2 small {
  font-size: 18px;
}
h3 {
  font-size: 18px;
  line-height: 30px;
}
h3 small {
  font-size: 14px;
}
h4,
h5,
h6 {
  line-height: 20px;
}
h4 {
  font-size: 14px;
}
h4 small {
  font-size: 12px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 11px;
  text-transform: uppercase;
}
a {
  color: #ffffff;
}
ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
small {
  font-size: 100%;
}
cite {
  font-style: normal;
}
img {
  border: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  font-family: 'heroregular';
  font-family: source sans pro;
}
table thead {
  border: 1px solid #d9d9d9;
}
table thead tr {
  border-bottom: 2px solid #d9d9d9;
}
table thead tr:hover {
  background-color: #ffffff;
}
table thead td,
table thead th {
  text-align: left;
  font-size: 20px;
  line-height: 24px;
  padding: 5px 5px;
  color: #1f2320;
  font-weight: normal;
}
table tbody td {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  font-size: 16px;
  padding: 5px 0 8px 5px;
  color: #333333;
}
table tbody td:first-child {
  border-left: 1px solid #d9d9d9;
}
table tbody td:last-child {
  border-right: 1px solid #d9d9d9;
}
table tbody td:last-child div {
  border: none;
}
table tbody td div {
  padding-left: 10px;
  color: #333333;
}
table tr:hover {
  background-color: #f7f7f7;
}
header {
  background-color: #1f2320;
}
.header-content {
  overflow: hidden;
}
.logo,
.menu {
  display: inline-block;
  vertical-align: middle;
}
.logo {
  float: left;
  padding: 10px 0px 20px;
}
.logo img {
  width: 80%;
}
.menu {
  float: right;
  color: #ffffff;
  margin-top: 38px;
}
.menu a {
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px 10px;
  font-family: source sans pro;
  padding: 40px 0px;
}
.menu a:hover {
  opacity: 0.7;
}
footer {
  background-color: #1c1f1d;
  margin-top: 60px;
}
.footer-content {
  overflow: hidden;
}
.footer-logo {
  margin: 5px 0px;
  height: 80px;
}
.footer-logo img {
  width: 80%;
  margin-top: 15px;
}
.footer-menu {
  color: #ffffff;
  padding: 10px 0px;
  text-align: center;
}
.footer-menu {
  text-align: left;
}
.footer-menu .footer-menu-details {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  color: #cccccc;
  margin: 0px 15px;
  width: 24%;
  margin: 10px 2%;
}
.footer-menu .footer-menu-details a {
  text-transform: uppercase;
  margin: 4px 0px;
  color: #cccccc;
  font-size: 14px;
  display: block;
}
.social-icons {
  padding: 25px 0px;
  overflow: hidden;
  text-align: center;
  border-bottom: 3px solid #ffffff;
}
.social {
  background-repeat: no-repeat;
  width: 55px;
  height: 55px;
  margin-left: 13px;
  display: inline-block;
  vertical-align: middle;
}
.s-twitter {
  background-image: url('../imgs/follow-twitter.png');
}
.s-facebook {
  background-image: url('../imgs/follow-facebook.png');
}
.s-youtube {
  background-image: url('../imgs/follow-google.png');
}
.s-in {
  background-image: url('../imgs/follow-blog.png');
}
.new {
  height: 80px;
  background-color: #ffffff;
}
@font-face {
  font-family: 'heroregular';
  src: url('../fonts/hero-webfont.eot');
  src: url('../fonts/hero-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/hero-webfont.woff2') format('woff2'), url('../fonts/hero-webfont.woff') format('woff'), url('../fonts/hero-webfont.ttf') format('truetype'), url('../fonts/hero-webfont.svg#heroregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hero_lightlight';
  src: url('../fonts/hero_light-webfont.eot');
  src: url('../fonts/hero_light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/hero_light-webfont.woff2') format('woff2'), url('../fonts/hero_light-webfont.woff') format('woff'), url('../fonts/hero_light-webfont.ttf') format('truetype'), url('../fonts/hero_light-webfont.svg#hero_lightlight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'headerFonts';
  src: url('../fonts/SourceSansPro/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'), url('SourceSansPro-Regular.otf') format('opentype'), url('../fonts/SourceSansPro/SourceSansPro-Regular.woff') format('woff'), url('SourceSansPro-Regular.ttf') format('truetype'), url('SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.btn {
  width: 120px;
  padding: 6px 10px;
  text-transform: uppercase;
  border-radius: 4px;
  margin-right: 10px;
  border: 1px solid #000000;
  background-color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}
.btn.selected {
  background-color: #63a43f;
  border: 1px solid #63a43f;
  color: #ffffff;
}
body {
  font-family: "Source Sans Pro", sans-serif;
}
.main {
  min-height: 465px;
}
.main-content {
  margin-top: 20px;
  margin-left: 5px;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
.hide {
  display: none;
}
.show {
  display: block;
}
a {
  color: #000000;
  text-decoration: none;
}
.tabs-container {
  width: 760px;
  margin: 40px auto;
}
.tabs {
  display: inline-block;
  vertical-align: middle;
  width: 230px;
  height: 130px;
  margin: 10px;
  text-align: center;
  background-color: #f7f7f7;
  background-position: center top 35px;
  background-repeat: no-repeat;
}
.tabs:hover {
  background-color: #1f2320;
}
.tabs:hover p {
  color: #ffffff;
}
.tabs p {
  margin-top: 85px;
}
.accounts {
  background-image: url("../imgs/accounts.png");
}
.accounts:hover {
  background-image: url("../imgs/accounts-selected.png");
}
.users {
  background-image: url("../imgs/users.png");
}
.users:hover {
  background-image: url("../imgs/users-selected.png");
}
.device-templates {
  background-image: url("../imgs/templates.png");
}
.device-templates:hover {
  background-image: url("../imgs/templates-selected.png");
}
.alerts {
  background-image: url("../imgs/alerts.png");
}
.alerts:hover {
  background-image: url("../imgs/alerts-selected.png");
}
.alert-rules {
  background-image: url("../imgs/alert-rules.png");
}
.alert-rules:hover {
  background-image: url("../imgs/alert-rules-selected.png");
}
.devices {
  background-image: url("../imgs/devices.png");
}
.devices:hover {
  background-image: url("../imgs/devices-selected.png");
}
.devices-groups {
  background-image: url("../imgs/device-groups.png");
}
.devices-groups:hover {
  background-image: url("../imgs/device-groups-selected.png");
}
.msg-bar {
  margin: 10px 0px;
}
.success {
  width: 100%;
  height: 30px;
  background-color: #cae4bb;
  color: #000000;
  text-align: center;
}
.error {
  width: 100%;
  height: 30px;
  background-color: #ba0f14;
  color: #000000;
  text-align: center;
}
.success img,
.success span,
.error img,
.error span {
  vertical-align: middle;
  margin: 5px;
}
.menubar {
  background-color: #f7f7f7;
  margin-top: 20px;
  margin-bottom: 10px;
}
.data-station-menubar {
  border-bottom: 0px;
}
.menubar-content {
  padding: 8px 0px;
  border-radius: 4px;
}
.menubar-content a {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #63a43f;
  margin: 0 5px 0 5px;
}
.menubar-content a:first-child {
  padding-left: 0px;
}
.menubar-content a:last-child {
  border: none;
}
.menubar-content a.active {
  color: #666666;
}
.submenu {
  border-bottom: 2px solid #e9e9e9;
  height: 70px;
}
.submenu-content {
  padding: 25px 0px 10px;
}
.submenu-content a {
  font-family: 'hero_lightlight';
  color: #666666;
  font-size: 20px;
  line-height: 20px;
  padding: 0px 16px;
  display: inline-block;
}
.submenu-content a p.submenu-selected {
  color: #63a43f;
  border-bottom: 4px solid #63a43f;
  margin: 0px;
  padding: 15px 0px 6px;
}
.submenu-content a.active {
  border-top: 2px solid #e9e9e9;
  border-left: 2px solid #e9e9e9;
  border-right: 2px solid #e9e9e9;
  background-color: #ffffff;
}
.create-user {
  margin-left: 15px;
  margin: 40px 0px;
}
.form-container {
  margin-left: 15px;
  margin: 40px 0px;
}
form h2 {
  width: 50%;
  font-size: 20px;
  font-family: 'heroregular';
}
form .subheader {
  color: #666666;
  font-size: 14px;
  width: 50%;
  font-family: 'heroregular';
}
.field {
  margin: 20px 0px;
  font-size: 20px;
  width: 50%;
}
.field p {
  margin-bottom: 5px;
}
.field p span {
  color: #a3a3a3;
}
.field input {
  border: 2px solid #dadada;
  padding: 4px 4px;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}
.field .entries {
  min-width: 200px;
  width: 50%;
  border: 2px solid #e9e9e9;
  padding: 10px 5px;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f8f8f8;
  min-height: 150px;
}
.field .sub-field {
  width: 48%;
  display: inline-block;
  vertical-align: middle;
}
.field .sub-field:first-child {
  margin-right: 2%;
}
.field .sub-field p {
  margin-bottom: 5px;
}
.field .sub-field p span {
  color: #a3a3a3;
}
.field .sub-field input {
  width: 100%;
  border: 2px solid #dadada;
  padding: 4px 4px;
  border-radius: 4px;
  font-size: 16px;
}
.list-users {
  display: none;
}
.template-form,
.body-left-content {
  width: 70%;
  display: inline-block;
  vertical-align: top;
}
.template-header {
  margin: 0px 0px 24px;
  border-bottom: 1px solid #65b037;
  height: 26px;
}
.template-header li {
  padding: 0px 2px 7px;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  cursor: pointer;
}
.template-header li.selected {
  border-bottom: 4px solid #65b037;
}
.main-menu,
.body-right-content {
  width: 26%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 1%;
  min-width: 200px;
  padding: 10px 5px;
  margin-top: 24px;
  font-size: 16px;
  min-height: 300px;
  float: right;
}
.main-menu li,
.body-right-content li {
  list-style-type: none;
  margin: 0 auto;
  padding: 0px 0;
  width: 80%;
  cursor: pointer;
}
.main-menu li:hover,
.body-right-content li:hover {
  border-left: 2px solid #e1e1e1;
}
.main-menu li:first-child,
.body-right-content li:first-child {
  margin-top: 20px;
}
.main-menu li:last-child,
.body-right-content li:last-child {
  margin-bottom: 20px;
  border-bottom: 0px;
}
.main-menu li .img,
.body-right-content li .img {
  margin-right: 5px;
  vertical-align: middle;
  display: inline-block;
  padding: 15px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
}
.main-menu li .edit,
.body-right-content li .edit {
  background-image: url("../imgs/pencil.png");
}
.main-menu li .load,
.body-right-content li .load {
  background-image: url("../imgs/load.png");
}
.main-menu li .other,
.body-right-content li .other {
  background-image: url("../imgs/other.png");
}
.main-menu li p,
.body-right-content li p {
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
}
.main-menu .selected,
.body-right-content .selected {
  color: #569c2a;
}
.main-menu .selected .img,
.body-right-content .selected .img {
  background-color: #569c2a;
}
.main-menu .selected .edit,
.body-right-content .selected .edit {
  background-image: url("../imgs/pencil-selected.png");
}
.main-menu .selected .load,
.body-right-content .selected .load {
  background-image: url("../imgs/load-selected.png");
}
.main-menu .selected .other,
.body-right-content .selected .other {
  background-image: url("../imgs/other-selected.png");
}
.device-edit {
  width: 100%;
}
.dashboard-tabs a {
  text-transform: uppercase;
}
.dashboard-menu {
  background-color: #63a43f;
  color: #ffffff;
}
.dashboard-menu .dashboard-menu-content {
  overflow: hidden;
}
.dashboard-menu .dashboard-menu-content h2,
.dashboard-menu .dashboard-menu-content .search,
.dashboard-menu .dashboard-menu-content .updated-on {
  display: inline-block;
  vertical-align: middle;
}
.dashboard-menu .dashboard-menu-content .search,
.dashboard-menu .dashboard-menu-content .updated-on {
  float: right;
}
.dashboard-menu .dashboard-menu-content .search-field {
  width: 250px;
  height: 24px;
  background-color: transparent;
  margin-top: 7px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 0px 5px;
  background-image: url("../imgs/search.png");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 14px;
  color: #ffffff;
}
.map {
  width: 100%;
  height: 400px;
  margin: 50px 0px;
}
.map iframe {
  width: 100%;
  height: 100%;
}
.sites {
  width: 100%;
  text-align: center;
}
.sites .site-imgs {
  display: inline-block;
  vertical-align: middle;
  width: 32%;
  margin-right: 1%;
  border: 1px solid #b0b0b0;
  text-align: left;
  margin-bottom: 20px;
}
.sites .site-imgs:last-child {
  margin-right: 0px;
}
.sites .site-imgs img {
  width: 100%;
}
.sites .site-imgs h2,
.sites .site-imgs p {
  margin-left: 10px;
}
.sites .site-imgs h2 {
  text-transform: uppercase;
}
.stations h2 {
  margin-bottom: 20px;
}
.stations h2 span {
  background-color: #63a43f;
  color: #ffffff;
  border-radius: 25px;
  padding: 2px 8px;
}
.stations table tbody tr td:first-child {
  width: 35%;
}
.stations table tbody tr td:first-child p span {
  background-color: #63a43f;
  color: #ffffff;
  border-radius: 25px;
  padding: 3px 8px;
  margin: 0px 10px;
}
.stations table tbody tr td:last-child {
  width: 65%;
}
.login {
  width: 400px;
  margin: 50px auto 0px;
  height: 450px;
  background-color: #1f2420;
  text-align: center;
}
.login form {
  position: relative;
  height: 100%;
}
.login form .login-title {
  margin: 0 auto;
  padding-top: 80px;
  position: relative;
  text-align: center;
  width: 70%;
  height: 40px;
}
.login form .login-title hr {
  position: absolute;
  z-index: 0;
  color: #202521;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.login form .login-title h2 {
  position: absolute;
  z-index: 1;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  background-color: #1f2420;
  color: #ffffff;
}
.field-center {
  margin: 40px 0 20px;
}
.field-center input {
  text-align: center;
  border: none;
  margin-bottom: 5px;
  border-radius: 0px;
}
.field-bottom {
  position: absolute;
  bottom: 20px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  font-size: 10px;
}
.field-bottom a {
  margin: 0px 4px;
  color: #ffffff;
}
.updated-on p {
  margin-top: 8px;
  margin-bottom: 0px;
}
.menu-content1,
.menu-content2 {
  clear: both;
}
.content-left,
.content-right {
  display: inline-block;
  vertical-align: middle;
  width: 47%;
}
.content-left .station-details p {
  font-size: 14px;
  font-family: 'hero_lightlight';
  margin-bottom: 5px;
  text-transform: capitalize;
}
.content-left .station-details .data-details {
  font-family: 'heroregular';
  font-size: 20px;
  text-transform: uppercase;
}
.content-left .station-details:first-child {
  border-bottom: 1px solid #ffffff;
}
.content-left .station-details .details-left {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  border-right: 1px solid #ffffff;
  margin: 8px 0px;
}
.content-left .station-details .details-right {
  display: inline-block;
  vertical-align: middle;
  width: 67%;
  margin: 8px 0px 8px 10px;
}
.border-bottom {
  border-bottom: 1px solid #e9e9e9;
}
.content-right {
  float: right;
  text-align: right;
}
.content-right .data-state-details {
  display: inline-block;
  vertical-align: middle;
  width: 45%;
  height: 54px;
  margin: 4px 0px 4px 4px;
  border: 1px solid #ffffff;
}
/*page progress indication css starts */
.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}
.pace-inactive {
  display: none;
}
/*page progress indication css ends */
