body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 14px;
  line-height: 20px;
  background-color: #ffffff;
}
p {
  margin: 0 0 10px;
}
p small {
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
}
h1 {
  font-size: 30px;
  line-height: 40px;
}
h1 small {
  font-size: 18px;
}
h2 {
  font-size: 24px;
  line-height: 40px;
}
h2 small {
  font-size: 18px;
}
h3 {
  font-size: 18px;
  line-height: 30px;
}
h3 small {
  font-size: 14px;
}
h4,
h5,
h6 {
  line-height: 20px;
}
h4 {
  font-size: 14px;
}
h4 small {
  font-size: 12px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 11px;
  text-transform: uppercase;
}
a {
  color: #ffffff;
}
ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
small {
  font-size: 100%;
}
cite {
  font-style: normal;
}
img {
  border: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  font-family: 'heroregular';
  font-family: source sans pro;
}
table thead {
  border: none;
}
table thead tr {
  border-bottom: 2px solid #d9d9d9;
}
table thead tr:hover {
  background-color: #ffffff;
}
table thead td,
table thead th {
  text-align: left;
  font-size: 20px;
  line-height: 24px;
  padding: 5px 5px;
  color: #1f2320;
  font-weight: bold;
}
table tbody td {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  font-size: 16px;
  padding: 5px 0 8px 5px;
  color: #333333;
  font-family: sans-serif;
}
table tbody td div {
  padding-left: 10px;
  color: #333333;
  font-family: sans-serif;
}
table tr:hover {
  background-color: #f7f7f7;
}
header {
  background-color: #1f2320;
  height: 110px;
}
.header-content {
  text-align: right;
}
.logo,
.menu {
  display: inline-block;
  vertical-align: middle;
}
.logo {
  float: left;
  padding: 10px 0px 20px;
  width: 240px;
}
.logo img {
  width: 100%;
}
.menu {
  color: #ffffff;
  margin-top: 38px;
}
.menu .menucontent {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0px 5px;
  height: 20px;
}
.menu .menucontent img {
  width: 18px;
}
.menu .userName {
  width: auto;
}
.menu .userName p {
  background-image: url("../imgs/userIcon.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
  background-size: 20%;
  color: #ffff00;
  margin: 0px;
}
.menu a {
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px 10px;
  font-family: source sans pro;
}
.menu a:hover {
  opacity: 0.7;
}
footer {
  background-color: #1c1f1d;
  margin-top: 60px;
}
.footer-content {
  overflow: hidden;
}
.footer-menu {
  text-align: left;
  color: #ffffff;
  padding: 10px 0px;
}
.footer-menu .footer-menu-details {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  color: #cccccc;
  margin: 0px 15px;
  width: 18%;
  margin: 10px 2%;
}
.footer-menu .footer-menu-details a {
  text-transform: uppercase;
  margin: 4px 0px;
  color: #ffffff;
  font-size: 13px;
  display: block;
}
.footer-menu .footer-menu-details a:hover {
  opacity: 0.8;
}
.social-icons {
  overflow: hidden;
  text-align: center;
  width: 24% !important;
}
.social-icons a {
  display: inline-block !important;
  vertical-align: middle;
  margin: 4px 1% !important;
}
.social {
  background-repeat: no-repeat;
  width: 55px;
  height: 55px;
  margin-left: 13px;
  display: inline-block;
  vertical-align: middle;
}
.s-twitter {
  background-image: url('../imgs/follow-twitter.png');
}
.s-facebook {
  background-image: url('../imgs/follow-facebook.png');
}
.s-youtube {
  background-image: url('../imgs/follow-google.png');
}
.s-in {
  background-image: url('../imgs/follow-blog.png');
}
.footer-devider {
  height: 3px;
  background-color: #ffffff;
  margin: 0px;
}
.new {
  height: 80px;
  background-color: #ffffff;
}
@font-face {
  font-family: 'heroregular';
  src: url('../fonts/hero-webfont.eot');
  src: url('../fonts/hero-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/hero-webfont.woff2') format('woff2'), url('../fonts/hero-webfont.woff') format('woff'), url('../fonts/hero-webfont.ttf') format('truetype'), url('../fonts/hero-webfont.svg#heroregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hero_lightlight';
  src: url('../fonts/hero_light-webfont.eot');
  src: url('../fonts/hero_light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/hero_light-webfont.woff2') format('woff2'), url('../fonts/hero_light-webfont.woff') format('woff'), url('../fonts/hero_light-webfont.ttf') format('truetype'), url('../fonts/hero_light-webfont.svg#hero_lightlight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'headerFonts';
  src: url('../fonts/SourceSansPro/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'), url('SourceSansPro-Regular.otf') format('opentype'), url('../fonts/SourceSansPro/SourceSansPro-Regular.woff') format('woff'), url('SourceSansPro-Regular.ttf') format('truetype'), url('SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.btn {
  width: 120px;
  padding: 6px 10px;
  text-transform: uppercase;
  border-radius: 4px;
  margin-right: 10px;
  border: 1px solid #dadada;
  background-color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  opacity: 0.8;
  text-align: center;
}
.btn:hover {
  opacity: 1;
}
.btn.selected {
  background-color: #63a43f;
  border: 1px solid #63a43f;
  color: #ffffff;
}
body {
  font-family: "Source Sans Pro", sans-serif;
}
.main {
  min-height: 465px;
}
.main-content {
  margin-top: 70px;
  margin-left: 5px;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
}
.hide {
  display: none;
}
.show {
  display: block;
}
a {
  color: #000000;
  text-decoration: none;
}
.tabs-container {
  width: 760px;
  margin: 40px auto;
}
.tabs {
  display: inline-block;
  vertical-align: middle;
  width: 230px;
  height: 130px;
  margin: 10px;
  text-align: center;
  background-color: #f7f7f7;
  background-position: center top 35px;
  background-repeat: no-repeat;
}
.tabs:hover {
  background-color: #1f2320;
}
.tabs:hover p {
  color: #ffffff;
}
.tabs p {
  color: #6e6e6e;
  font-size: 18px;
  font-weight: bold;
  margin-top: 85px;
}
.accounts {
  background-image: url("../imgs/accounts.png");
}
.accounts:hover {
  background-image: url("../imgs/accounts-selected.png");
}
.users {
  background-image: url("../imgs/users.png");
}
.users:hover {
  background-image: url("../imgs/users-selected.png");
}
.device-templates {
  background-image: url("../imgs/templates.png");
}
.device-templates:hover {
  background-image: url("../imgs/templates-selected.png");
}
.alerts {
  background-image: url("../imgs/alerts.png");
}
.alerts:hover {
  background-image: url("../imgs/alerts-selected.png");
}
.alert-rules {
  background-image: url("../imgs/alert-rules.png");
}
.alert-rules:hover {
  background-image: url("../imgs/alert-rules-selected.png");
}
.devices {
  background-image: url("../imgs/devices.png");
}
.devices:hover {
  background-image: url("../imgs/devices-selected.png");
}
.devices-groups {
  background-image: url("../imgs/device-groups.png");
}
.devices-groups:hover {
  background-image: url("../imgs/device-groups-selected.png");
}
.msg-bar {
  margin: 10px 0px;
}
.success {
  width: 100%;
  height: 30px;
  background-color: #cae4bb;
  color: #000000;
  text-align: center;
}
.error {
  background-color: #ff8888;
  color: #000000;
  font-size: 16px;
  height: 24px;
  padding: 3px 0;
  text-align: center;
  width: 100%;
}
.success img,
.success span,
.error img,
.error span {
  vertical-align: middle;
  margin: 5px;
}
.menubar {
  background-color: #f7f7f7;
  margin-bottom: 10px;
}
.data-station-menubar {
  border-bottom: 0px;
}
.menubar-content {
  padding: 8px 0px;
  border-radius: 4px;
}
.menubar-content a {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #63a43f;
  margin: 0 5px 0 5px;
}
.menubar-content a:first-child {
  padding-left: 0px;
}
.menubar-content a:last-child {
  border: none;
}
.menubar-content a.active {
  color: #666666;
}
.submenu {
  border-bottom: 2px solid #e9e9e9;
  height: 70px;
}
.submenu-content {
  padding: 25px 0px 10px;
}
.submenu-content a {
  font-family: sans-serif;
  color: #666666;
  font-size: 20px;
  line-height: 20px;
  padding: 0px 16px;
  display: inline-block;
}
.submenu-content a p.submenu-selected {
  color: #63a43f;
  border-bottom: 4px solid #63a43f;
  margin: 0px;
  padding: 15px 0px 6px;
}
.submenu-content a.active {
  border-top: 2px solid #e9e9e9;
  border-left: 2px solid #e9e9e9;
  border-right: 2px solid #e9e9e9;
  background-color: #ffffff;
}
.create-user {
  margin-left: 15px;
  margin: 40px 0px;
}
.form-container {
  margin-left: 15px;
  margin: 40px 0px;
}
form h2 {
  width: 50%;
  font-size: 20px;
  font-family: sans-serif;
}
form .subheader {
  color: #666666;
  font-size: 14px;
  width: 50%;
  font-family: sans-serif;
}
.field {
  margin: 20px 0px;
  font-size: 20px;
  width: 50%;
}
.field p {
  margin-bottom: 5px;
}
.field p span {
  color: #a3a3a3;
}
.field input {
  border: 2px solid #dadada;
  padding: 6px 4px;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}
.field .entries {
  min-width: 200px;
  width: 50%;
  border: 2px solid #e9e9e9;
  padding: 10px 5px;
  border-radius: 4px;
  font-size: 16px;
  min-height: 150px;
}
.field .sub-field {
  width: 48%;
  display: inline-block;
  vertical-align: middle;
}
.field .sub-field:first-child {
  margin-right: 3%;
}
.field .sub-field p {
  margin-bottom: 5px;
}
.field .sub-field p span {
  color: #a3a3a3;
}
.field .sub-field input {
  width: 100%;
  border: 2px solid #dadada;
  padding: 6px 4px;
  border-radius: 4px;
  font-size: 16px;
}
.list-users {
  display: none;
}
.template-form,
.body-left-content {
  width: 70%;
  display: inline-block;
  vertical-align: top;
}
.template-header {
  margin: 0px 0px 24px;
  border-bottom: 1px solid #65b037;
  height: 26px;
}
.template-header li {
  padding: 0px 2px 7px;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  cursor: pointer;
}
.template-header li.selected {
  border-bottom: 4px solid #65b037;
}
.main-menu,
.body-right-content {
  width: 26%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 1%;
  min-width: 200px;
  padding: 10px 5px;
  margin-top: 24px;
  font-size: 16px;
  min-height: 300px;
  float: right;
}
.main-menu li,
.body-right-content li {
  list-style-type: none;
  margin: 4px auto;
  padding: 0 0 0 30px;
  width: 80%;
  cursor: pointer;
  border-radius: 6px 0px 0px 6px;
  color: #6e6e6e;
  font-weight: bold;
  background-size: 18px;
  background-image: url("../imgs/rightArrow.png");
  background-repeat: no-repeat;
  background-position: left 5px center;
}
.main-menu li:hover,
.body-right-content li:hover {
  background-image: url("../imgs/rightArrowSelected.png");
  color: #569c2a;
}
.main-menu li:first-child,
.body-right-content li:first-child {
  margin-top: 20px;
}
.main-menu li:last-child,
.body-right-content li:last-child {
  margin-bottom: 20px;
  border-bottom: 0px;
}
.main-menu li .img,
.body-right-content li .img {
  margin-right: 5px;
  vertical-align: middle;
  display: inline-block;
  padding: 15px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
}
.main-menu li .edit,
.body-right-content li .edit {
  background-image: url("../imgs/pencil.png");
}
.main-menu li .load,
.body-right-content li .load {
  background-image: url("../imgs/load.png");
}
.main-menu li .other,
.body-right-content li .other {
  background-image: url("../imgs/other.png");
}
.main-menu li p,
.body-right-content li p {
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
}
.main-menu li.selected,
.body-right-content li.selected {
  color: #569c2a;
  background-image: url("../imgs/rightArrowSelected.png");
}
.main-menu li.selected .img,
.body-right-content li.selected .img {
  background-color: #569c2a;
}
.main-menu li.selected .edit,
.body-right-content li.selected .edit {
  background-image: url("../imgs/pencil-selected.png");
}
.main-menu li.selected .load,
.body-right-content li.selected .load {
  background-image: url("../imgs/load-selected.png");
}
.main-menu li.selected .other,
.body-right-content li.selected .other {
  background-image: url("../imgs/other-selected.png");
}
.device-edit {
  width: 100%;
}
.dashboard-tabs a {
  text-transform: uppercase;
}
.dashboard-menu {
  background-color: #63a43f;
  color: #ffffff;
}
.dashboard-menu .dashboard-menu-content {
  overflow: hidden;
}
.dashboard-menu .dashboard-menu-content h2,
.dashboard-menu .dashboard-menu-content .search,
.dashboard-menu .dashboard-menu-content .updated-on {
  display: inline-block;
  vertical-align: middle;
}
.dashboard-menu .dashboard-menu-content .search,
.dashboard-menu .dashboard-menu-content .updated-on {
  float: right;
}
.dashboard-menu .dashboard-menu-content .search-field {
  width: 250px;
  height: 24px;
  background-color: transparent;
  margin-top: 7px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 0px 5px;
  background-image: url("../imgs/search.png");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 14px;
  color: #ffffff;
}
.search {
  text-align: right;
}
.search-field {
  width: 250px;
  height: 24px;
  background-color: transparent;
  margin-top: 7px;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 0px 5px;
  background-image: url("../imgs/searchGrey.png");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 14px;
  color: #ffffff;
}
.map {
  width: 100%;
  height: 400px;
  margin: 50px 0px;
}
.map iframe {
  width: 100%;
  height: 100%;
}
.sites {
  width: 100%;
  text-align: center;
}
.sites .site-imgs {
  display: inline-block;
  vertical-align: middle;
  width: 32%;
  margin-right: 1%;
  border: 1px solid #b0b0b0;
  text-align: left;
  margin-bottom: 20px;
}
.sites .site-imgs:last-child {
  margin-right: 0px;
}
.sites .site-imgs img {
  width: 100%;
}
.sites .site-imgs h2,
.sites .site-imgs p {
  margin-left: 10px;
}
.sites .site-imgs h2 {
  text-transform: uppercase;
}
.stations h2 {
  margin-bottom: 20px;
}
.stations h2 span {
  background-color: #63a43f;
  color: #ffffff;
  border-radius: 25px;
  padding: 2px 8px;
}
.stations table {
  font-family: sans-serif;
}
.stations table tbody tr td:first-child {
  width: 35%;
}
.stations table tbody tr td:first-child p span {
  background-color: #63a43f;
  color: #ffffff;
  border-radius: 25px;
  padding: 3px 8px;
  margin: 0px 10px;
}
.stations table tbody tr td:last-child {
  width: 65%;
}
.login-page {
  background: url(../imgs/bg.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.login-form {
  background: #fff;
  width: 32%;
  margin: 9% auto 4% auto;
  position: relative;
}
.head {
  position: absolute;
  top: -15%;
  left: 35%;
}
.head img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 6px solid rgba(221, 218, 215, 0.23);
}
.login-form-content {
  padding: 24% 2.5em 1em;
}
.login-form-content li {
  border: 1px solid #B4B2B2;
  list-style: none;
  margin-bottom: 25px;
  width: 100%;
  background: none;
  border-radius: 4px;
}
.new-user {
  margin-top: 15%;
  text-align: center;
}
.new-user a {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  color: #858282;
  font-size: 12px;
  opacity: 0.8;
  padding-bottom: 2px;
}
.new-user a:hover {
  text-decoration: underline;
  opacity: 1;
}
.icon {
  background: url(../imgs/icons.png) no-repeat 0px 0px;
  height: 30px;
  width: 30px;
  display: block;
  float: left;
  margin: 7px -11px 0px 0px;
}
.user {
  background: url(../imgs/icons.png) no-repeat 12px 11px;
}
.lock {
  background: url(../imgs/icons.png) no-repeat -17px 11px;
}
.login-input-field {
  font-family: "Source Sans Pro", sans-serif;
  width: 60%;
  padding: 0.7em 2em 0.7em 1.7em;
  color: #858282;
  font-size: 18px;
  outline: none;
  background: none;
  border: none;
  font-weight: 600;
}
.login-form-content li:hover {
  border: 1px solid #40A9DF;
  box-shadow: 0 0 1em #40A9DF;
  -webkit-box-shadow: 0 0 1em #40A9DF;
  -o-box-shadow: 0 0 1em #40A9DF;
  -moz-box-shadow: 0 0 1em #40A9DF;
}
.loginbtn {
  width: 100%;
  text-align: center;
}
input[type="submit"] {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  padding: 15px 10px;
  margin-top: 3px;
  font-family: "Source Sans Pro", sans-serif;
  width: 40%;
  border: none;
  border-radius: 4px;
  opacity: 0.8;
  background-color: #63a43f;
  border: 1px solid #63a43f;
  color: #ffffff;
}
input[type="submit"]:hover {
  opacity: 1;
}
.updated-on p {
  margin-top: 8px;
  margin-bottom: 0px;
}
.menu-content1,
.menu-content2 {
  clear: both;
}
ul.content {
  margin-top: 40px;
  width: 60%;
  margin: 40px auto;
  background-color: #dedede;
  padding: 5px;
  border-radius: 4px;
}
ul.content li {
  padding: 5px;
  margin: 10px;
  background-color: #ffffff;
}
ul.content li img,
ul.content li p {
  display: inline-block;
  vertical-align: middle;
}
ul.content li p {
  margin: 0px 10px;
  font-size: 24px;
}
ul.content li img {
  width: 40px;
}
.content {
  width: 80%;
  margin: 0 auto;
  list-style-type: none;
}
.content .station-details p {
  font-size: 14px;
  font-family: sans-serif;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.content .station-details .data-details {
  font-family: 'heroregular';
  font-size: 20px;
  text-transform: uppercase;
}
.content .station-details .data-details sup {
  font-size: 14px;
}
.content .station-details:first-child {
  border-bottom: 1px solid #ffffff;
}
.content .station-details .details-column {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  border-right: 1px solid #ffffff;
  margin: 8px 1%;
  padding: 1%;
  border: 1px solid #e1e1e1;
  background: #299a0b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #299a0b 0%, #299a0b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #299a0b), color-stop(100%, #299a0b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #299a0b 0%, #299a0b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #299a0b 0%, #299a0b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #299a0b 0%, #299a0b 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #299a0b 0%, #299a0b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#299a0b', endColorstr='#299a0b', GradientType=0);
  /* IE6-9 */
  color: #ffffff;
}
.content .station-details .details-right {
  display: inline-block;
  vertical-align: middle;
  width: 67%;
  margin: 8px 0px 8px 10px;
}
.content .data-state-details {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #e1e1e1;
  width: 22%;
  padding: 10px;
  margin: 4px;
  background: #299a0b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #299a0b 0%, #299a0b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #299a0b), color-stop(100%, #299a0b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #299a0b 0%, #299a0b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #299a0b 0%, #299a0b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #299a0b 0%, #299a0b 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #299a0b 0%, #299a0b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#299a0b', endColorstr='#299a0b', GradientType=0);
  /* IE6-9 */
  color: #ffffff;
}
.content .data-state-details p {
  font-size: 14px;
  font-family: sans-serif;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.content .data-state-details .data-details {
  font-family: 'heroregular';
  font-size: 20px;
  text-transform: capitalize;
}
.content .data-state-details .data-details sup {
  font-size: 10px;
}
.gradient {
  background: #299a0b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #299a0b 0%, #299a0b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #299a0b), color-stop(100%, #299a0b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #299a0b 0%, #299a0b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #299a0b 0%, #299a0b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #299a0b 0%, #299a0b 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #299a0b 0%, #299a0b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#299a0b', endColorstr='#299a0b', GradientType=0);
  /* IE6-9 */
}
.border-bottom {
  border-bottom: 1px solid #e9e9e9;
}
.content-right {
  float: right;
  text-align: right;
}
.content-right .data-state-details {
  display: inline-block;
  vertical-align: middle;
  width: 45%;
  height: 54px;
  margin: 4px 0px 4px 4px;
  border: 1px solid #ffffff;
}
.dropdown {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: left;
  padding-right: 30px;
  background-image: url("../imgs/downArrowGrey.png");
  background-repeat: no-repeat;
  background-position: right 5px center;
}
.dropdown .menu-dropdown {
  position: absolute;
  top: 20px;
  width: 100px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: grey;
  display: none;
}
.dropdown .menu-dropdown li {
  margin: 0px;
  padding: 5px 4px;
  border-bottom: 1px solid #ffffff;
}
.dropdown .menu-dropdown li:hover {
  opacity: 0.6;
}
.graph-area,
.help-content,
.graph-values,
.graph-content {
  display: inline-block;
  vertical-align: top;
}
.graph-area {
  width: 72%;
  margin-right: 1%;
  background-color: #e1e1e1;
  height: 1140px;
}
.graph-values {
  width: 14%;
  height: 100%;
  margin: 0px;
  list-style-type: none;
  background-color: #ffffff;
}
.graph-values li {
  border-bottom: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  font-size: 16px;
  margin: 0;
  padding: 8px;
}
.graph-values li:first-child {
  border-top: 1px solid #e1e1e1;
}
.graph-values li.selected {
  border-bottom: 4px solid #63a43f;
  background-color: #e1e1e1;
}
.graph {
  margin: 20px 10px 20px -3px;
  padding: 0px 0px 0px 20px;
}
.graph-content {
  width: 84%;
  padding: 10px 0px 10px 0px;
}
.graph-content .graphTitle {
  overflow: hidden;
  text-align: right;
}
.graph-content .graphTitle h2,
.graph-content .graphTitle p {
  display: inline-block;
  vertical-align: middle;
}
.graph-content .graphTitle h2 {
  float: left;
}
.graph-content .graphTitle p {
  margin: 0px;
}
.main-graph {
  width: 100%;
  height: 300px;
  background-color: #ffffff;
}
.help-content {
  width: 25%;
  background-color: blue;
}
.help-content .map {
  margin: 0px;
}
.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 5;
  -moz-opacity: .80;
  opacity: .80;
  filter: alpha(opacity=80);
  text-align: center;
}
.popup {
  display: none;
  width: 400px;
  background-color: #ffffff;
  margin: 0px auto;
  z-index: 12;
  position: absolute;
  left: 0px;
  top: 40px;
  right: 0px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.menucontent {
  font-size: 16px;
}
.contactUs {
  margin-top: 40px !important;
}
.manageContacts {
  width: 100%;
  font-family: sans-serif;
}
.manageContacts h2 {
  margin-bottom: 20px;
  font-size: 25px;
}
.manageContacts .contactLeftContent {
  width: 20%;
  display: inline-block;
  vertical-align: top;
}
.manageContacts .contactRightContent {
  width: 78%;
  display: inline-block;
  vertical-align: top;
}
.contactsFolder {
  margin: 20px 0px;
}
.contactsFolder .contactsGrp {
  text-transform: capitalize;
  list-style-type: none;
  margin: 4px auto;
  padding: 0 0 0 30px;
  width: 80%;
  cursor: pointer;
  border-radius: 6px 0px 0px 6px;
  color: #6e6e6e;
  font-weight: bold;
  background-size: 18px;
  background-image: url("../imgs/rightArrow.png");
  background-repeat: no-repeat;
  background-position: left 5px top;
}
.contactsFolder .contactsGrp:hover {
  background-image: url("../imgs/rightArrowSelected.png");
  color: #569c2a;
}
.contactsFolder .contactsGrp.selected {
  color: #569c2a;
  background-image: url("../imgs/rightArrowSelected.png");
}
.selected.contactsGrp .contactSubfolder {
  display: block;
}
.contactSubfolder {
  display: none;
}
.contactSubfolder .contacts {
  list-style-type: inherit;
  padding: 0px;
  color: #6e6e6e;
}
.contactSubfolder .contacts:hover {
  color: #569c2a;
}
.contactSubfolder {
  margin: 0px;
}
.createContact {
  width: 500px;
}
.createContact #createUser {
  width: 90%;
  margin: 20px auto;
}
.createContact #createUser .field {
  width: 100%;
}
.createContact #createUser .field textarea {
  width: 100%;
  height: 30px;
  border: 2px solid #dadada;
  border-radius: 4px;
  padding: 6px 4px;
}
.createContact #createUser .field .menucontent {
  border: 2px solid #dadada;
  border-radius: 4px;
  padding: 4px 30px 4px 5px;
  width: 50%;
}
.createContact #createUser .field .menucontent .groupName {
  text-transform: capitalize;
}
.createContact #createUser .field .menucontent .menu-dropdown {
  margin-left: -5px;
  top: 35px;
  width: 100%;
  z-index: 10;
  background-color: #ffffff;
  border: 2px solid #dadada;
  border-radius: 0px 0px 4px 4px;
}
.createContact #createUser .field .menucontent .menu-dropdown li {
  border-bottom: 1px solid #dadada;
  text-transform: capitalize;
}
.createContact #createUser .field .btn {
  display: inline-block;
  vertical-align: middle;
}
#contacts td img {
  margin: 0px 4px;
}
.groupInput {
  display: none;
}
.groupInput input {
  border: 2px solid #dadada;
  border-radius: 4px;
  margin: 20px auto;
  padding: 6px 4px;
  width: 140px;
}
.btn-group {
  text-align: center;
}
/*page progress indication css starts */
.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}
.pace-inactive {
  display: none;
}
.channelContainer {
  border: 1px solid #e9e9e9;
  padding: 2%;
  width: 50%;
}
.channelContainer .field {
  width: 100%;
}
table.channelDisplayContainer {
  margin-bottom: 0px;
}
table.channelDisplayContainer input,
button,
select,
textarea {
  width: 80px;
  padding: 7px 0px;
  border: none;
  box-shadow: none;
}
table.channelDisplayContainer button,
select {
  color: #ffffff;
}
table.channelDisplayContainer tr {
  background-color: #e1e1e1;
}
table#channelDisplayContainer tr {
  background-color: #ffffff;
}
.styled-select-box {
  width: 80px;
  overflow: hidden;
  background-image: url("../imgs/down-arrow.png");
  background-position: right 5px center;
  background-repeat: no-repeat;
}
.selectbox-hiddenpart {
  width: 90px !important;
}
/*page progress indication css ends */
