footer{
	background-color: @footer-bg;
}
.footer-content{
	overflow: hidden;
}
.footer-logo,.footer-menu{
	display: inline-block;
	vertical-align: middle;
}
.footer-logo{
	margin: 5px 0px;
	height: 80px;
}
.footer-logo img{
	width: 80%;
	margin-top: 15px;
}
.footer-menu{
	color: @white;
	margin-top: 10px;
}
.footer-menu a{
	text-transform: uppercase;
	color: @footer-text;
	margin: 0px 15px;
}
.social-icons{
	display: inline-block;
	vertical-align: middle;
	float: right;
	margin-top: 25px;
	overflow: hidden;
    height: 30px;
}

.social{
	background-repeat: no-repeat;
    height: 28px;
    padding: 0 15px 15px;
    width: 35px;
    margin-left: 13px;
}

.s-twitter{
	background-image: url('../imgs/twitter.png');
}

.s-facebook{
	background-image: url('../imgs/facebook.png');
}

.s-youtube{
	background-image: url('../imgs/youtube.png');
}

.s-in{
	background-image: url('../imgs/in.png');
}