header{
	background-color: @header-bg;
}
.header-content{
	overflow: hidden;
}
.logo,.menu{
	display: inline-block;
	vertical-align: middle;
}
.logo{
	float: left;
	margin: 5px 0px;
	height: 64px;
}
.logo img{
	width: 80%;
}
.menu{
	float: right;
	color: @white;
	margin-top: 25px;
}
.menu a{
	text-transform: uppercase;
	color: @white;
	margin: 0px 10px;
}