header{
	background-color: @header-bg;
	height: 110px;
}
.header-content{
	text-align: right;
}
.logo,.menu{
	display: inline-block;
	vertical-align: middle;
}
.logo{
	float: left;
	padding: 10px 0px 20px;
	width: 240px;
}
.logo img{
	width: 100%;
}
.menu{
	color: @white;
	margin-top: 38px;
	.menucontent{
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		margin: 0px 5px;
		img{
			width: 18px;
		}
	}
	.userName{
		width: auto;
		p{
			background-image: url("../imgs/userIcon.png");
			background-repeat: no-repeat;
			background-position: left center;
			padding-left: 30px;
			background-size: 20%;
			color: #ffff00;
		}
	}
}
.menu a{
	text-transform: uppercase;
	color: @white;
	margin: 0px 10px;
	font-family: source sans pro;
}
.menu a:hover{
	opacity: 0.7;
}