@import "base.less";
@import "variables.less";
@import "header.less";
@import "footer.less";
@import "fonts.less";
@import "buttons.less";
body{
	font-family: "Source Sans Pro",sans-serif;
}
.main{
	min-height: 465px;
}
.main-content{
	margin-top: 70px;
	margin-left: 5px;
}
.wrapper{
	width: 90%;
	margin: 0 auto;
}
.hide{
	display: none;
}
.show{
	display: block;
}
a{
	color: @black;
	text-decoration: none;
}
.tabs-container{
	width: 760px;
	margin: 40px auto;
}
.tabs{
	display: inline-block;
	vertical-align: middle;
	width: 230px;
	height: 130px;
	margin: 10px;
	text-align: center;
	background-color: @tabs-bg;
	background-position: center top 35px;
	background-repeat: no-repeat;
	&:hover{
		background-color: #1f2320;
		p{
			color: @white;
		}
	}
	p{
		color: @greyMenuFont;
	    font-size: 18px;
	    font-weight: bold;
	    margin-top: 85px;
	}
}

.accounts{
	background-image: url("../imgs/accounts.png");
	&:hover{
		background-image: url("../imgs/accounts-selected.png");
	}
}
.users{
	background-image: url("../imgs/users.png");
	&:hover{
		background-image: url("../imgs/users-selected.png");
	}
}
.device-templates{
	background-image: url("../imgs/templates.png");
	&:hover{
		background-image: url("../imgs/templates-selected.png");
	}
}
.alerts{
	background-image: url("../imgs/alerts.png");
	&:hover{
		background-image: url("../imgs/alerts-selected.png");
	}
}
.alert-rules{
	background-image: url("../imgs/alert-rules.png");
	&:hover{
		background-image: url("../imgs/alert-rules-selected.png");
	}
}
.devices{
	background-image: url("../imgs/devices.png");
	&:hover{
		background-image: url("../imgs/devices-selected.png");
	}
}
.devices-groups{
	background-image: url("../imgs/device-groups.png");
	&:hover{
		background-image: url("../imgs/device-groups-selected.png");
	}
}
.msg-bar{
	margin: 10px 0px;
}
.success{
	width: 100%;
	height: 30px;
	background-color: @success-bg;
	color: @black;
	text-align: center;
}
.error{
	width: 100%;
	height: 30px;
	background-color: @redError;
	color: @black;
	text-align: center;
}
.success img,.success span,.error img,.error span{
	vertical-align: middle;
	margin: 5px;
}
.menubar{
	background-color: @tabs-bg;
	margin-bottom: 10px;
    // border-bottom: 2px solid @grayDark;
    // height: 40px;
}
.data-station-menubar{
	border-bottom: 0px;
}
.menubar-content{
	padding: 8px 0px;
	border-radius: 4px;
	a{
		font-family: sans-serif;
		font-weight: bold;
		font-size: 14px;
		line-height: 20px;
		color: @greenfont;
		// padding: 10px 16px;r
		margin: 0 5px 0 5px;
		// border-right: 2px solid @black;
		&:first-child{
			padding-left: 0px;
		}
		&:last-child{
			border: none;
		}
	}
	a.active{
		color: @grayfont;
	}
}

.submenu{
	// background-color: @tabs-bg;
    border-bottom: 2px solid @grayDark;
    height: 70px;
}
.submenu-content{
	padding: 25px 0px 10px;
	a{
		font-family: sans-serif;
		color: @grayfont;
		font-size: 20px;
		line-height: 20px;
		padding: 0px 16px;
		display: inline-block;
		p.submenu-selected{
			color: @greenfont;
			border-bottom: 4px solid @greenfont;
			margin: 0px;
			padding: 15px 0px 6px;
		}
	}
	a.active{
		border-top: 2px solid @grayDark;
		border-left: 2px solid @grayDark;
		border-right: 2px solid @grayDark;
		background-color: @white;
	}
}
.create-user{
	margin-left: 15px;
	margin: 40px 0px;
}
.form-container{
	margin-left: 15px;
	margin: 40px 0px;
}
form{
	h2{
		width: 50%;
		font-size: 20px;
		font-family: sans-serif;
	}
	.subheader{
		color: @subheader-color;
		font-size: 14px;
		width: 50%;
		font-family: sans-serif;
	}
}
.field{
	margin: 20px 0px;
	font-size: 20px;
	width: 50%;
	p{
		margin-bottom: 5px;
		span{
			color: #a3a3a3;
		}
	}
	input{
		border: 2px solid @grayborder;
		padding: 6px 4px;
		border-radius: 4px;
		font-size: 16px;
		width: 100%;
	}
	.entries{
		min-width: 200px;
		width: 50%;
		border: 2px solid @grayDark;
		padding: 10px 5px;
		border-radius: 4px;
		font-size: 16px;
		min-height: 150px;
	}
	.sub-field{
		width: 48%;
		display: inline-block;
		vertical-align: middle;
		&:first-child{
			margin-right: 3%;
		}
		p{
			margin-bottom: 5px;
			span{
				color: #a3a3a3;
			}
		}
		input{
			width: 100%;
			border: 2px solid @grayborder;
			padding: 6px 4px;
			border-radius: 4px;
			font-size: 16px;
		}
	}
}
.list-users{
	display: none;
}

// template page styles

.template-form,.body-left-content{
	width:70%;
	display: inline-block;
	vertical-align: top;
} 
.template-header{
	margin: 0px 0px 24px;
	border-bottom: 1px solid @border-green; 
	height: 26px;
	li{
		padding: 0px 2px 7px;
		display: inline-block;
		vertical-align: middle;
		font-size: 20px;
		cursor: pointer;
	}
	li.selected{
		border-bottom: 4px solid @border-green; 
	}
}
.main-menu,.body-right-content{
	width: 26%;
	display: inline-block;
	vertical-align: middle;
	margin-left: 1%;
	min-width: 200px;
	// border: 2px solid @grayDark;
	padding: 10px 5px;
	margin-top: 24px;
	font-size: 16px;
	// background-color: @input-bg;
	min-height: 300px;
	float: right;
	li{
		// border-bottom: 2px solid @grayDark;
		list-style-type: none;
		margin: 4px auto;
	    padding: 0 0 0 5px;
	    width: 80%;
	    cursor: pointer;
	    border-radius: 6px 0px 0px 6px;
	    color: @greyMenuFont;
	    font-weight: bold;
	    &:hover{
	    	border-left: 3px groove @greyMenuFont;
	    }
	    &:first-child{
	    	margin-top: 20px;
	    }
	    &:last-child{
	    	margin-bottom: 20px;
	    	border-bottom: 0px;
	    }
	    .img{
	    	margin-right: 5px;
	    	vertical-align: middle;
	    	display: inline-block;
	    	padding: 15px;
	    	border-radius: 15px;
	    	background-repeat: no-repeat;
			background-position:center;
	    	
	    }
	    .edit{
			background-image: url("../imgs/pencil.png");
		}
		.load{
			background-image: url("../imgs/load.png");
		}
		.other{
			background-image: url("../imgs/other.png");
		}
	    p{
	    	display: inline-block;
	    	vertical-align: middle;
	    	margin: 0px;
	    }
	}
	.selected{
		color: @menu-bg;
		.img{
			background-color: @menu-bg;
		}
		.edit{
			background-image: url("../imgs/pencil-selected.png");
		}
		.load{
			background-image: url("../imgs/load-selected.png");
		}
		.other{
			background-image: url("../imgs/other-selected.png");
		}
    }
}
.device-edit{
	width: 100%;
}

// dashboard map styles

.dashboard-tabs{
	a{
		text-transform: uppercase;
	}
}
.dashboard-menu{
	background-color: @greenfont;
	color: @white;
	.dashboard-menu-content{
		overflow: hidden;
		h2,.search,.updated-on{
			display: inline-block;
			vertical-align: middle;
		}
		.search,.updated-on{
			float: right;
		}
		.search-field{
			width: 250px;
			height: 24px;
			background-color: transparent;
			margin-top: 7px;
			border:1px solid @white;
			border-radius: 4px;
			padding: 0px 5px;
			background-image: url("../imgs/search.png");
			background-position: right 10px center;
			background-repeat: no-repeat;
			background-size: 14px;
			color: @white;
		}
	}
}
.map{
	width: 100%;
	height: 400px;
	margin: 50px 0px;
	iframe{
		width: 100%;
		height: 100%;
	}
}
.sites{
	width: 100%;
	text-align: center;
	.site-imgs{
		display: inline-block;
		vertical-align: middle;
		width: 32%;
		margin-right: 1%;
		border: 1px solid @grayLight;
		text-align: left;
		margin-bottom: 20px;
		&:last-child{
			margin-right: 0px;
		}
		img{
			width: 100%;
		}
		h2,p{
			margin-left: 10px;
		}
		h2{
			text-transform: uppercase;
		}
	}
}
.stations{
	h2{
		margin-bottom: 20px;
		span{
			background-color: @greenfont;
			color: @white;
			border-radius: 25px;
    		padding: 2px 8px;
		}
	}
	table{
		font-family: sans-serif;
		tbody{
			tr{
				td{
					&:first-child{
						width: 35%;
						p{
							span{
								background-color: @greenfont;
								color: @white;
								border-radius: 25px;
					    		padding: 3px 8px;
					    		margin: 0px 10px;
							}
						}
					}
					&:last-child{
						width: 65%;
					}
				}
			}
		}
	}
}


// login page styles

.login-page{
	background:url(../imgs/bg.jpg)  no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;
 	position:relative;
}
.login-form {
	background:#fff;
	width:32%;
	margin:9% auto 4% auto;
 	position: relative;
}
.head {
	position: absolute;
	top:-15%;
	left: 35%;
}
.head img {
	border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-moz-border-radius:50%;
	border:6px solid rgba(221, 218, 215, 0.23);
}
.login-form-content{
	padding:24% 2.5em 1em;
}
.login-form-content li{
	border:1px solid #B4B2B2;
	list-style:none;
	margin-bottom:25px;
	width:100%;
	background:none;
	border-radius: 4px;
}
.new-user{
	margin-top: 15%;
	text-align: center;
	a{
		font-family: "Source Sans Pro",sans-serif;
		font-weight: bold;
		color: #858282;
		font-size: 12px;
		opacity: 0.8;
		padding-bottom: 2px;
		&:hover{
			text-decoration: underline;
			opacity: 1;
		}
	}
}

.icon{
	background:url(../imgs/icons.png)  no-repeat 0px 0px;
	height:30px;
	width:30px;
	display: block;
	float:left;
	margin:7px -11px 0px 0px
}

.user{
	background: url(../imgs/icons.png) no-repeat 12px 11px;
	
}
.lock{
	background: url(../imgs/icons.png) no-repeat -17px 11px;
}
.login-input-field {
	font-family: "Source Sans Pro",sans-serif;
	width:60%;
	padding:0.7em 2em 0.7em 1.7em;
	color:#858282;
	font-size:18px;
	outline: none;
	background: none;
	border:none;
	font-weight:600;
	}
.login-form-content li:hover{
	border:1px solid #40A9DF;
	 box-shadow: 0 0 1em #40A9DF;
	 -webkit-box-shadow: 0 0 1em #40A9DF;
	 -o-box-shadow: 0 0 1em #40A9DF;
	 -moz-box-shadow: 0 0 1em #40A9DF;
}
.loginbtn{
	width: 100%;
	text-align: center;
}
input[type="submit"]{
	font-size:18px;
	font-weight:600;
	cursor: pointer;
	outline: none;
	padding:15px 10px;
	margin-top:3px;
	font-family: "Source Sans Pro",sans-serif;
	width:40%;
	border:none;
	border-radius: 4px;
	opacity: 0.8;
	background-color: #63a43f;
    border: 1px solid #63a43f;
    color: #ffffff;
}
input[type="submit"]:hover{
	opacity: 1;
}

// data- station page styles
.updated-on p{
	margin-top: 8px;
	margin-bottom: 0px;
}
.menu-content1,.menu-content2{
	clear: both;
}
// .content-left,.content-right{
// 	display: inline-block;
// 	vertical-align: middle;
// 	width: 47%;
// }
ul.content{
	margin-top: 40px;
}
.content{
	width: 80%;
	margin: 0 auto;
	.station-details{
		p{
			font-size: 14px;
			font-family: sans-serif;
			margin-bottom: 5px;
			text-transform: capitalize;
		}
		.data-details{
			font-family: 'heroregular';
			font-size: 20px;
			text-transform: uppercase;
		}
		&:first-child{
			border-bottom: 1px solid @white;
		}
		.details-column{
			display: inline-block;
			vertical-align: middle;
			width: 22%;
			border-right: 1px solid @white;
			margin: 8px 0px;
		}
		.details-right{
			display: inline-block;
			vertical-align: middle;
			width: 67%;
			margin: 8px 0px 8px 10px;
		}
	}
	.data-state-details{
		display: inline-block;
		vertical-align: middle;
		border:1px solid #e1e1e1;
		width: 24%;
	}
}
.border-bottom{
	border-bottom: 1px solid @grayDark;
}
.content-right{
	float: right;
	text-align: right;
	.data-state-details{
		display: inline-block;
		vertical-align: middle;
		width: 45%;
		height: 54px;
		margin: 4px 0px 4px 4px;
		border:1px solid @white;
	}
}

.dropdown{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-align: left;
	.menu-dropdown{
		position: absolute;
		top: 25px;
		width: 100px;
		list-style-type: none;
		margin:0px;
		padding: 0px;
		background-color: grey;
		display: none;
		li{
			margin: 0px;
			padding: 5px 4px;
			border-bottom: 1px solid @white;
			&:hover{
				opacity: 0.6;
			}
		}
	}
}

.graph-area,.help-content,.graph-values,.graph-content{
	display: inline-block;
	vertical-align: top;
	height: 200px;
}
.graph-area{
	width: 70%;
	margin-right: 3%;
	background-color: #e1e1e1;
}
.graph-values{
	width: 20%;
	background-color: red;
}
.graph-content{
	width: 78%;
	background-color: blue;
}
.help-content{
	width: 25%;
	background-color: blue;
}
/*page progress indication css starts */

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}

.channelContainer {
     border: 1px solid #e9e9e9;
     padding:2%;
     width: 50%;
}
.channelContainer .field {
    width:100%;
}

table.channelDisplayContainer {
    margin-bottom:0px;
}
table.channelDisplayContainer td {
    //width:100%;
}

table.channelDisplayContainer input, button, select, textarea  {
    width:80px;
    padding:7px 0px;
    border:none;
    box-shadow:none;
}
table.channelDisplayContainer button, select {
    color:#ffffff;
}
table.channelDisplayContainer tr{
    background-color:#e1e1e1;
}
table#channelDisplayContainer tr{
    background-color:#ffffff;
}
.styled-select-box{
    width:80px;
    overflow:hidden;
    background-image:url("../imgs/down-arrow.png");
    background-position:right 5px center;
    background-repeat:no-repeat;
}
.selectbox-hiddenpart{
    width:90px !important;
}
/*page progress indication css ends */