@import "base.less";
@import "variables.less";
@import "header.less";
@import "footer.less";
@import "fonts.less";
@import "buttons.less";
body{
	font-family: 'heroregular';
}
.main{
	min-height: 465px;
}
.main-content{
	margin-top: 20px;
}
.wrapper{
	width: 90%;
	margin: 0 auto;
}
a{
	color: @black;
	text-decoration: none;
}
.tabs-container{
	width: 760px;
	margin: 40px auto;
}
.tabs{
	display: inline-block;
	vertical-align: middle;
	width: 230px;
	height: 130px;
	margin: 10px;
	text-align: center;
	background-color: @tabs-bg;
	background-position: center top 35px;
	background-repeat: no-repeat;
	&:hover{
		background-color: #1f2320;
		p{
			color: @white;
		}
	}
}
.tabs p{
	margin-top: 85px;
}
.accounts{
	background-image: url("../imgs/accounts.png");
	&:hover{
		background-image: url("../imgs/accounts-selected.png");
	}
}
.users{
	background-image: url("../imgs/users.png");
	&:hover{
		background-image: url("../imgs/users-selected.png");
	}
}
.device-templates{
	background-image: url("../imgs/templates.png");
	&:hover{
		background-image: url("../imgs/templates-selected.png");
	}
}
.alerts{
	background-image: url("../imgs/alerts.png");
	&:hover{
		background-image: url("../imgs/alerts-selected.png");
	}
}
.alert-rules{
	background-image: url("../imgs/alert-rules.png");
	&:hover{
		background-image: url("../imgs/alert-rules-selected.png");
	}
}
.devices{
	background-image: url("../imgs/devices.png");
	&:hover{
		background-image: url("../imgs/devices-selected.png");
	}
}
.devices-groups{
	background-image: url("../imgs/device-groups.png");
	&:hover{
		background-image: url("../imgs/device-groups-selected.png");
	}
}
.menubar{
	background-color: @tabs-bg;
    border-bottom: 2px solid @grayDark;
    height: 48px;
}
.menubar-content{
	padding: 14px 0px;
	a{
		font-family: 'hero_lightlight';
		font-size: 18px;
		line-height: 20px;
		color: @greenfont;
		padding: 0px 16px;
		border-right: 2px solid @black;
		&:first-child{
			padding-left: 0px;
		}
		&:last-child{
			border: none;
		}
	}
	a.active{
		color: @grayfont;
	}
}

.submenu{
	background-color: @tabs-bg;
    border-bottom: 2px solid @grayDark;
    height: 70px;
}
.submenu-content{
	padding: 25px 0px 10px;
	a{
		font-family: 'hero_lightlight';
		color: @grayfont;
		font-size: 20px;
		line-height: 20px;
		padding: 0px 16px;
		display: inline-block;
		p.submenu-selected{
			color: @greenfont;
			border-bottom: 4px solid @greenfont;
			margin: 0px;
			padding: 15px 0px 6px;
		}
	}
	a.active{
		border-top: 2px solid @grayDark;
		border-left: 2px solid @grayDark;
		border-right: 2px solid @grayDark;
		background-color: @white;
	}
}
.create-user{
	margin-left: 15px;
	margin: 40px 0px;
	width: 50%;
}
#createUser{
	.field{
		margin: 20px 0px;
		font-size: 16px;
		p{
			margin-bottom: 5px;
		}
		input{
			width: 70%;
			border: 2px solid @grayDark;
			padding: 10px 5px;
			border-radius: 4px;
			font-size: 16px;
			background-color: @input-bg;
		}
	}
}
.list-users{
	display: none;
}

/*page progress indication css starts */

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}

/*page progress indication css ends */